* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

body {
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230b0e0a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23161d14' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23222b1f' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%232d3a29' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23384833' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.font-link {
  font-family: 'Abril Fatface', sans-serif;
}

html, body {
  overflow-x: hidden;
  min-width: 100%;
  scroll-behavior: smooth;
}
.cardHighlight {
  min-height:  100%;
}

.color-nav {
  background-color: #5B7553;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}